<div class="container">
  <div class="row">
    <div class="col-12 mb-1">
      <mat-card *ngIf="!mobileView">
        <div class="container">
          <div class="row">
            <div class="col-3 centerer">
              Tytuł
            </div>
            <div class="col-3 centerer">
              Autor
            </div>
            <div class="col-2 centerer">
              Kategoria
            </div>
            <div class="col-2 centerer">
              Wydawnictwo
            </div>
            <div class="col-2 centerer"></div>
          </div>
        </div>
      </mat-card>
      <mat-card *ngIf="mobileView">
        <div class="container">
          <div class="row">
            <div class="col-4 centerer">
              Tytuł
            </div>
            <div class="col-3 centerer">
              Autor
            </div>
            <div class="col-3 centerer">
              Kategoria
            </div>
            <div class="col-2 centerer"></div>
          </div>
        </div>
      </mat-card>
    </div>
    <app-book
      (booksUpdate)="onBookRemove()"
      [book]="book"
      [categories]="categories"
      [mobileView]="mobileView"
      *ngFor="let book of books"
      class="col-12">
    </app-book>
  </div>
</div>
