<div class="container p-0 text-right">
  <div class="row m-0">
    <div class="col-12 p-0">
      <button
        class="close-btn"
        mat-dialog-close
        mat-icon-button
        style="color: #808080;">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 centerer">
      <img height="100" src="assets/book.png">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 font-weight-bold centerer">
      Tytuł
    </div>
    <div class="col-12 centerer">
      {{book.title}}
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 font-weight-bold centerer">
      Autor
    </div>
    <div class="col-12 centerer">
      {{book.author}}
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 font-weight-bold centerer">
      Kategoria
    </div>
    <div class="col-12 centerer">
      {{book.category.name}}
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 font-weight-bold centerer">
      Wydawnictwo
    </div>
    <div class="col-12 centerer">
      {{book.publisher}}
    </div>
  </div>
</div>
