<div class="container p-0 text-right">
  <div class="row m-0">
    <div class="col-12 p-0">
      <button
        class="close-btn"
        mat-dialog-close
        mat-icon-button
        style="color: #808080;">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<form [formGroup]="bookForm" (ngSubmit)="update()">
  <div class="container">
    <div class="row">
      <div class="col-12 centerer">
        Edycja książki
      </div>
    </div>
    <div class="row mt-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Tytuł</mat-label>
        <input
          matInput
          formControlName="title">
      </mat-form-field>
    </div>
    <div class="row mt-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Autor</mat-label>
        <input
          matInput
          formControlName="author">
      </mat-form-field>
    </div>
    <div class="row mt-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Kategoria</mat-label>
        <mat-select formControlName="category">
          <mat-option
            *ngFor="let category of categories"
            [value]="category.id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row mt-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Wydawnictwo</mat-label>
        <input
          matInput
          formControlName="publisher">
      </mat-form-field>
    </div>
    <div class="row mt-2 centerer">
      <button
        type="submit"
        [disabled]="!bookForm.valid || !bookForm.touched || !bookForm.dirty"
        mat-raised-button
        color="primary">
        Zapisz zmiany
      </button>
    </div>
  </div>
</form>
