<div class="container my-2">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <button
          (click)="add()"
          mat-raised-button
          color="primary">
          Dodaj nową książkę
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <app-spinner [isLoading]="isLoading"></app-spinner>
      <app-books-list
        *ngIf="!isLoading"
        (booksUpdate)="index()"
        [mobileView]="mobileView"
        [books]="books"
        [categories]="categories">
      </app-books-list>
    </div>
  </div>
</div>
