/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("assets/background.jpg")
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

mat-card {
  border-radius: 0 !important;
}

button:focus {
  outline: none !important;
}

app-spinner {
  color: #ffffff;
}

.centerer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mat-simple-snackbar {
  justify-content: center !important;
}
