<mat-card *ngIf="!mobileView" class="book-card">
  <div class="container">
    <div class="row">
      <div class="col-3 centerer">
        {{book.title}}
      </div>
      <div class="col-3 centerer flex-column">
        {{book.author}}
      </div>
      <div class="col-2 centerer">
        {{book.category.name}}
      </div>
      <div class="col-2 centerer">
        {{book.publisher}}
      </div>
      <div class="col-2 centerer">
        <div class="container">
          <div class="row">
            <div class="col-12 centerer flex-row">
              <button
                (click)="details()"
                mat-icon-button>
                <mat-icon>menu</mat-icon>
              </button>
              <button
                (click)="edit()"
                mat-icon-button
                color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                (click)="remove()"
                mat-icon-button
                style="color: #cd5c5c;">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<mat-card *ngIf="mobileView" class="book-card">
  <div class="container">
    <div class="row">
      <div class="col-4 centerer">
        {{book.title}}
      </div>
      <div class="col-3 centerer flex-column">
        {{book.author}}
      </div>
      <div class="col-3 centerer">
        {{book.category.name}}
      </div>
      <div class="col-2 centerer">
        <div class="container">
          <div class="row">
            <div class="col-12 centerer flex-column">
              <button
                (click)="details()"
                mat-icon-button>
                <mat-icon>menu</mat-icon>
              </button>
              <button
                (click)="edit()"
                mat-icon-button
                color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                (click)="remove()"
                mat-icon-button
                style="color: #cd5c5c;">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
